<html>

<head>
    <title>Home Page</title>
    <%- include('partials/links') %>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-8 text-center">
                        <h1>Add User</h1>
                        <img src="/images/logo.png" alt="">
                    </div>
                    <div class="col-sm-4 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Add User</h5>
                                <form name="addForm" enctype="application/x-www-form-urlencoded">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="userName"
                                            aria-describedby="emailHelp" placeholder="Enter Username" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Phone No.</label>
                                        <input type="number" class="form-control" id="phoneNo" name="phoneNo"
                                            aria-describedby="emailHelp" placeholder="Enter Phone Number" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" required
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Address</label>
                                        <input type="text" class="form-control" id="address" name="address"
                                            placeholder="Enter Address">
                                    </div>
                                    <!-- <a href="./forgot-password">Forgot Password?</a><br><br> -->
                                    <button type="button" onclick="addUser()" class="btn btn-primary btn-block">Submit</button>
                                    <!-- <a href="./register">New User?</a> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <script>

        function addUser() {
            let data = {
                userName: addForm.userName.value,
                phoneNo: addForm.phoneNo.value,
                email : addForm.email.value,
                address : addForm.address.value
            }
            let response = fetch('/api/people', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                    },
                body: JSON.stringify(data) 
            }).then(response => response.json())
                .then(result =>  {
                    if(result.success){
                        location.href = window.location.origin+'/api/people'
                    }
            });
        }
    </script>

   
</body>

</html>