<html>

<head>
    <title>Home Page</title>
    <%- include('partials/links') %>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/">Dropbox</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-8 text-center">
                        <h1>Admin Login</h1>
                        <img src="/images/logo.png" alt="">

                    </div>
                    <div class="col-sm-4 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Log In</h5>
                                <form onSubmit="return onLogin()">
                                    <div class="form-group">
                                        <label for="username">Email address or Username</label>
                                        <input type="text" class="form-control" id="username" name="username"
                                            aria-describedby="emailHelp" placeholder="Enter email or username">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Password">
                                    </div>
                                    <!-- <a href="./forgot-password">Forgot Password?</a><br><br> -->
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    <!-- <a href="./register">New User?</a> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

   
</body>

</html>